.red{
	height:100px;
	background: red;
}

.green{
	height:100px;
	background: green;
}

.yellow{
	height:100px;
	background: yellow;
}

.yellow-mini{
	height:20px;
	width: 100%;
	background: yellow;
}

.no-margin{
padding:0;
margin:0;
}

.clear-both{
	float:left;
    clear:both;
}

#registration-form > .frm-group > input {
	width: 170px;
}

#registration-form > .frm-group > a {
	color:white;
	font-size: 13px;
	margin-top: 4px;
}

.mrgn-xs{
	margin-bottom:3px;
}

#registration-form {
	margin: 5px;
}

.wrapper 
{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.block-body-content 
{
	flex: 1 0 auto;
}

.block-body-footer 
{
	flex: 0 0 auto;
}

.search-block {
	margin: 0 auto;
}

.logo-parent{
	
}

.height-100 {
	height:100%;
}

.width-100 {
	width:100%;
}

.block-menu {
	border-right: 1px solid rgba(51, 51, 51, 0.35);
}

/*.vertical-menu > li > a {
	background: rgba(233, 233, 233, 0.25);
	border: 1px solid rgba(51, 51, 51, 0.15);
	color: #333;
}*/

.mrgt {
	margin: 0 40px;
	margin-top: 240px;
}

.navbar-shadows {
	border-radius:0;
	border: none;
	box-shadow: 
		0 0 8px rgba(255,255,255,0.5) inset,
		0 0 10px rgba(0,0,0,0.5);
}

/*@media print {
   { display: none; }
  .header { display: block; }
}*/

.size {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis; /* Многоточие */
   }
   
.myInput .inner {
  overflow: hidden;
  border-top: none;
}

.myInput input {
  width: 100%;
}

.myInput label, .myInput button {
  float: left;
}

.myInput {
  margin:3px 0;  
}

#editForm label {
  margin: 0 10px;
  font-size: 16px;
}

#show-frm {
	border-bottom: 1px solid #64abfb;
    border-top: 1px solid rgba(100, 171, 251, 0.35);
}